<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link rel="stylesheet" href="../../static/css/mainpage.css">
</head>
<body>
<div include-html="navbar.html"></div>
    <div class="baby_status_div">
        <div class="baby_status_box">
            <b class="baby_name">태명: </b>
            <b class="d_day">D-Day: </b>
            <p class="tip_for_parents">출력 확인 용 문단입니다아아아아</p>
        </div>
    </div>
<!--****부모님의 기능은 박스를 눌렀을 때 추가 info가 뜨게끔 만들어야하기에-->
<!--****이게 관련된 어떤 컨테이너가 좋은 지 알아보자-->
    <div class="parents_div">
        <div class="box_for_mom">
            <p class="mother">엄마랑</p>
            <p class="baby_with_mom">Baby With Mom</p>
        </div>
        <div class="box_for_dad">
            <p class="father">아빠랑</p>
            <p class="baby_with_dad">Baby With Dad</p>
        </div>
    </div>
    <div id="footer"></div>
<script>LoadNavBar();</script>
<script>LoadFooterBar();</script>
</body>
</html>