<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="nav_div">
    <div class="title_logo">
        <img class="title_logo_btn" href="/" alt="로고">
    </div>
    <div class="nav_div">
        <nav class="nav_list">
            <ul>
                <li><a class="check_with_us" href="/">Check With Us</a></li>
                <li><a class="talk_with_us" href="/">Talk With Us</a></li>
                <li><a class="record_with_us" href="/">Record With Us</a></li>
                <li><a class="contact_with_us" href="/">Contact With Us</a></li>
            </ul>
        <div class="func_list">
            <img class="mypage" src="mypage_img" alt="마이페이지">
            <img class="login" src="login_img" alt="로그인">
            <img class="logout" src="logout_img" alt="로그아웃">
        </div>
        </nav>
    </div>
</div>


</body>
</html>